/.idea/.idea.Selenium/.idea/
/Selenium/bin/
/Selenium/obj/
/Selenium.Tests/bin/
/Selenium.Tests/obj/
/TestDataXmlGenerator/bin/
/TestDataXmlGenerator/obj/
/GeneratedData/
Selenium.sln.DotSettings.user
/Selenium/bin/Debug/net6.0/
/Selenium.sln.DotSettings.user
/Appium.Tests/obj/
/Appium.Tests/bin/Debug/net6.0/
/AutomationTesting.sln.DotSettings.user
/.idea/.idea.AutomationTesting/.idea/
